[submodule "external/xoroshiro128plus-cpp"]
	path = external/xoroshiro128plus-cpp
	url = https://github.com/alexcoplan/xoroshiro128plus-cpp.git
[submodule "external/pcg-cpp"]
	path = external/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
